@use 'zsass' as *;

.user-container {

  @include flex-col;
  @include flex-even-cen;
  height: 520px;
  width: 100%;
  padding-top: 120px;
  background: rgb($accent, 1);
  background-image: url('../images/header-texture-3.png');
  box-shadow: 0 0px 5px 5px rgb($dark, 0.25);
  @include no-select;

  img {
    margin: 0.25em;
    -webkit-filter: drop-shadow(2px 2px 5px rgb($dark, 0.5));
    filter: drop-shadow(2px 2px 5px rgb($dark, 0.5));
  }

  h2 {
    margin: 0.25em;
    font-weight: normal;
    color: rgb($light, 1)
  }

}

/* Responsive scale up for computer screens */

@media (min-width: 1024px) {

  .user-container {
    height: 400px;
    max-width: 400px;
    margin: 220px 0 0;
    padding-top: 0px;
  }

}