@use 'zsass' as *;

body {
  /* height: 100vh; */
  @include flex-col;
  color: rgb($dark, 1);
  background-color: rgb($main, 1);
  font-family: $print;
  font-size: 1.5em;
}

main {
  @include flex-col;
  width: 90%;
  align-self: center;
  margin-bottom: 5vh;
}

.footnote {
  align-self: center;
  color: rgb($dark, 0.25);
  font-size: 0.5em;
  text-decoration: none;
  cursor: default;
  @include no-select;
}

/* Responsive scale up for computer screens */

@media (min-width: 1024px) {

  body {
    flex-direction: row;
    justify-content: space-evenly;
  }

  main {
    margin: 120px 2em 0;
    width: 50%;
  }

}