@use 'zsass' as *;

@keyframes bouncyBoy {

  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(2px);
  }

  100% {
    transform: translateY(0px);
  }

}

nav {

  @include no-select;
  @include flex-between-cen;
  position: fixed;
  display: flex;
  z-index: 99;
  height: 120px;
  width: 100%;
  padding: 0 1.5em;
  color: rgba($light, 1);
  transition: 100ms;

  &.compact {
    display: flex;
    height: 3.75em;
    transition: 250ms;
  }

  &.mobile-collapse {
    height: 3.5em;
    background-color: rgb($accent, 1);
    background-image: url('../images/header-texture-3.png');
    box-shadow: 0 0px 5px 5px rgb($dark, 0.25);
    transition: 250ms;
  }

  &.compact .nav-compose-tweet {
    display: none;
  }

  .logo {
    @include flex-between-cen;
    display: flex;
    gap: 0.25em;
    font-family: $display;
    cursor: pointer;
  }

  .nav-compose-tweet {
    @include flex-col;
    @include flex-cen;
    gap: 0.25em;
    font-size: 0.75em;
    color: rgb($light, 0.5);
  }

  .nav-compose-tweet i {
    animation: bouncyBoy 1s linear 0s infinite normal forwards;
  }

  .nav-compose-tweet:hover {
    color: rgb($light, 1);
    cursor: pointer;
    animation: none;
  }

}

.toTopButton {
  @include flex-cen;
  position: fixed;
  display: none;
  right: 0.5em;
  bottom: 0.5em;
  height: 2em;
  width: 2em;
  background-color: rgb($accent, 1);
  border-radius: 50%;
  color: rgb($light, 0.5);
}

.toTopButton:hover {
  color: rgb($light, 1);
  cursor: pointer;
}

/* Responsive scale up for computer screens */

@media (min-width: 1024px) {

  nav {

    padding: 0 5em;
    background-color: rgb($accent, 1);
    background-image: url('../images/header-texture-3.png');
    box-shadow: 0 0px 5px 5px rgb($dark, 0.25);

    &.compact {
      display: flex;
      height: 2em;
      transition: 250ms;
    }

    .nav-compose-tweet {
      font-size: 1em;
    }

  }

}