#tweets-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 1em;
  padding: 1em 0;
}

.tweet {
  padding: 1em;
  border: solid 3px rgb(var(--clr-dark));
}

.tweet:hover {
  box-shadow: 5px 5px rgb(var(--clr-accent), 0.5);
}

.tweet header {
  display: flex;
  align-items: center;
}

.tweet img {
  height: 1.75em;
  width: 1.75em;
}

.tweet .tweet-user-name {
  flex-grow: 2;
  padding: 0 1em;
  color: rgb(var(--clr-dark), 0.75);
}

.tweet .tweet-user-handle {
  color: rgb(var(--clr-accent));
  cursor: pointer;
  font-size: 0.75em;
}

.tweet .tweet-content {
  padding: 1em;
  border-bottom: solid 3px rgb(var(--clr-dark));
  -ms-word-wrap: normal;
  word-wrap: break-word;
}

.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em 0em;
  font-size: 0.75em;
  color: rgb(var(--clr-dark), 0.75);
}

.tweet .tweet-date {
  flex-grow: 2;
}

.tweet footer i {
  padding: 0 0.25em;
}

.tweet footer i:hover {
  color: rgba(var(--clr-accent));
  cursor: pointer;
}