$dark: #333;
$nav: #4056A1;
$light: #eee;
$main: #f1ecfb;
$accent: #8A9BD0;

$print: 'Source Sans Pro', sans-serif;
$display: 'Changa One', sans-serif;

@mixin flex-col() {
  display: flex;
  flex-direction: column;
}

@mixin flex-cen() {
  justify-content: center;
  align-items: center;
}

@mixin flex-even-cen() {
  justify-content: space-evenly;
  align-items: center;
}

@mixin flex-between-cen() {
  justify-content: space-between;
  align-items: center;
}

@mixin no-select() {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}