.user-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 520px;
  width: 100%;
  padding-top: 120px;
  background: #8a9bd0;
  background-image: url("../images/header-texture-3.png");
  box-shadow: 0 0px 5px 5px rgba(53, 53, 49, 0.25);
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.user-container img {
  margin: 0.25em;
  -webkit-filter: drop-shadow(2px 2px 5px rgba(53, 53, 49, 0.5));
  filter: drop-shadow(2px 2px 5px rgba(53, 53, 49, 0.5));
}
.user-container h2 {
  margin: 0.25em;
  font-weight: normal;
  color: #f5f6f7;
}

/* Responsive scale up for computer screens */
@media (min-width: 1024px) {
  .user-container {
    height: 400px;
    max-width: 400px;
    margin: 220px 0 0;
    padding-top: 0px;
  }
}
