body {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  color: #353531;
  background-color: #f5e9e0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5em;
}

main {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-self: center;
  margin-bottom: 5vh;
}

.footnote {
  align-self: center;
  color: rgba(53, 53, 49, 0.25);
  font-size: 0.5em;
  text-decoration: none;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Responsive scale up for computer screens */
@media (min-width: 1024px) {
  body {
    flex-direction: row;
    justify-content: space-evenly;
  }
  main {
    margin: 120px 2em 0;
    width: 50%;
  }
}
