/*
 * Global layout stuff
 */

body {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  color: rgb(var(--clr-bistre));
  background-color: rgb(var(--clr-aquamarine));
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
}

/*
 * Additional CSS can be defined below or in other CSS files, as per instructions
 */

/*  CUSTOM COLOR PALETTE
 https: //coolors.co/322214-4056a1-f7f7ff-46b1c9-1cfeba
 */

main {
  width: 90%;
  align-self: center;
}