@keyframes bouncyBoy {

  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(2px);
  }

  100% {
    transform: translateY(0px);
  }

}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-content: center;
  z-index: 99;
  height: 120px;
  width: 100%;
  padding: 0 1.5em;
  color: rgb(var(--clr-light));
  transition: 100ms;
}

nav.compact {
  display: flex;
  height: 3.75em;
  transition: 250ms;
}

nav.compact .nav-compose-tweet {
  display: none;
}

nav .logo {
  display: flex;
  align-items: center;
  font-family: 'Bungee', sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}

nav .nav-compose-tweet {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.25em;
  font-size: 0.75em;
  color: rgb(var(--clr-light), 0.5);
}

nav .nav-compose-tweet i {
  animation: bouncyBoy 1s linear 0s infinite normal forwards;
}

nav .nav-compose-tweet:hover {
  color: rgb(var(--clr-light));
  cursor: pointer;
  animation: none;
}

.toTopButton {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  right: 0.5em;
  bottom: 0.5em;
  height: 2em;
  width: 2em;
  background-color: rgb(var(--clr-accent));
  border-radius: 50%;
  color: rgb(var(--clr-light), 0.5);
}

.toTopButton:hover {
  color: rgb(var(--clr-light), 1);
  cursor: pointer;
}

/* Responsive scale up for computer screens */

@media (min-width: 1024px) {

  nav {
    padding: 0 5em;
    background: rgb(var(--clr-nav));
    box-shadow: 0 0px 5px 5px rgb(var(--clr-dark), 0.25);
  }

  nav.compact {
    display: flex;
    height: 2em;
    transition: 250ms;
  }

  nav .nav-compose-tweet {
    font-size: 1em;
  }

}