/* 
.new-tweet
.counter
*/

.new-tweet form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.new-tweet label {
  height: 1em;
  font-size: 1em;
  font-weight: bold;
  color: rgb(var(--clr-bistre), 0.5);
}

.new-tweet label.minimize {
  top: 0px;
  font-size: 0.5em;
}

.new-tweet textarea {
  resize: none;
  font-weight: bold;
  width: 100%;
  background: transparent;
  border: 0px;
  border-bottom: solid 3px rgb(var(--clr-bistre));
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.new-tweet .new-tweet-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0 0;
}

.new-tweet button {
  font-family: 'Bungee', sans-serif;
  background: rgb(var(--clr-liberty));
  color: rgb(var(--clr-ghost-white));
  border: none;
  padding: 0.25em 0.5em;
}

.new-tweet .counter {
  font-family: 'Bungee', sans-serif;
  color: rgb(var(--clr-bistre), 1);
  font-size: 1.25em;
}

.new-tweet .counter.invalid {
  color: red;
}