/*
      <article class="tweet">
        <header>
          <span class="tweet-user-img"><img src="https://i.imgur.com/5fUVPRP.png"></span>
          <span class="tweet-user-name">Shrek</span>
          <span class="tweet-user-handle">@SwampDaddy</span>
        </header>
        <section class="tweet-content">Git out!</section>
        <footer>
          <span class="tweet-content">10 days ago</span>
          <i class="fa-solid fa-flag"></i>
          <i class="fa-solid fa-retweet"></i>
          <i class="fa-solid fa-heart"></i>
        </footer>
      </article>
*/

#tweets-container {
  margin-top: 25px;
}

.tweet {
  padding: 1em;
  border: solid 3px rgb(var(--clr-bistre));
}

.tweet:hover {
  box-shadow: 5px 5px rgb(var(--clr-pacific-blue), 0.5);
}

.tweet header {
  display: flex;
  align-items: center;
}

.tweet header span {
  /* flex-grow: 1; */
}

.tweet img {
  height: 50px;
  width: 50px;
}

.tweet .tweet-user-name {
  flex-grow: 2;
  padding: 0 1em;
  color: rgb(var(--clr-bistre), 0.75);
}

.tweet .tweet-user-handle {
  color: rgb(var(--clr-pacific-blue));
}

.tweet .tweet-content {
  padding: 1em;
  border-bottom: solid 3px rgb(var(--clr-bistre));
}

.tweet footer {
  padding: 1em 1em 0em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75em;
  color: rgb(var(--clr-bistre), 0.75);
}

.tweet .tweet-date {
  flex-grow: 2;
}

.tweet footer i {
  padding: 0 0.25em;
}

.tweet footer i:hover {
  color: rgba(var(--clr-pacific-blue));
  cursor: pointer;
}